{% extends 'base.html.twig' %}

{% block title %}Hello KnowledgeController!{% endblock %}

{% block body %}

<table class="table table-border">
    <tr>
        <th>#</th>
        <th>Mencion</th>
        <th>Usuario</th>
        <th><a href="{{ path("knowledge_create") }}">Crear</a></th>
    </tr>
    {% for knowledge in knowledges %}
    <tr>
        <td>{{ knowledge.id }}</td>
        <td>{{ knowledge.mencion }}</td>
        <td>{{ knowledge.user.username }}</td>
        <td><a href="{{ path("knowledge_update", {knowledge: knowledge.id}) }}"><i class="fas fa-plus"></i></a> - <a href="{{ path("knowledge_delete", {knowledge: knowledge.id}) }}">Eliminar</a></td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
